---
import Layout from "../components/Layout.astro";
import { Image } from "astro:assets";
import Prose from "../components/Prose.astro";
import SubscribeForm from "../components/NewsletterForm.astro";
import GitHubContributions from "../components/GitHubContributions.astro";
import { getCollection } from "astro:content";
import { getBlogPosts } from "../data/utils";

const posts = await getBlogPosts();
const newestPosts = posts.slice(0, 5);

const [albums, books] = await Promise.all([
  getCollection("albums"),
  getCollection("books"),
]);

const linksClass = "w-fit font-bold";
---

<Layout image={new URL("og/home.png", Astro.url)}>
  <div class="flex flex-row justify-between items-center mb-2">
    <h1 class="font-bold text-2xl">Eren Türkoglu</h1>
  </div>
  <Prose>
    <p>
      I'm 21 years old, Turk, born in France, and have spent the majority of my
      life between Nancy and Afyon.
    </p>
    <p>
      I'm currently working as a Software Engineer at
      <span class="text-google-yellow">
        <a href="https://www.linkedin.com/company/kolizeo/" target="_blank">
          Kolizeo
        </a>
      </span>
      in Metz, France. Prior to this, I was building open-source projects like
      <a href="https://github.com/erenworld/chalk" target="_blank">Chalk</a>
      and
      <a href="https://github.com/erenworld/karp" target="_blank">Karp</a>.
    </p>

    <p>
      I have a <a href="/blog">blog</a> where I write about stuff I find interesting
      enough to share.
    </p>
    <p>
      If anything here piques your interest, don't hesitate to{" "}
      <a href="mailto:erenxturkoglu@gmail.com" target="_blank">reach out</a>. I
      love meeting new people!
    </p>

    <!-- GITHUB CONTRIBUTIONS COMPONENT -->
    <GitHubContributions />

    <div>
      <h3>Newest Posts</h3>
      <ul class="flex flex-col gap-4 not-prose">
        {
          newestPosts.map((post) => (
            <li>
              <span class="flex gap-1 items-center">
                <span class="flex-1">
                  <a href={`/${post.id}`}>
                    <span class="font-bold font-serif text-lg">
                      {post.data.title}
                    </span>
                    {post.data.author && <span> ({post.data.author})</span>}
                  </a>
                </span>
                <span>
                  {post.data.date.toLocaleDateString("en-GB", {
                    day: "numeric",
                    month: "short",
                    year: "2-digit",
                  })}
                </span>
              </span>
            </li>
          ))
        }
      </ul>
      <h3 class="font-bold">Newsletter</h3>
      <SubscribeForm />
      <h3>Links</h3>
      <div class="not-prose grid grid-cols-3 sm:grid-cols-4">
        <a class={linksClass} href="https://x.com/erenxtrkg" target="_blank"
          >Twitter/X</a
        >
        <a
          class={linksClass}
          href="https://github.com/erenworld"
          target="_blank">GitHub</a
        >
        <a
          class={linksClass}
          href="https://www.youtube.com/@eren"
          target="_blank">YouTube</a
        >
        <a
          class={linksClass}
          href="https://www.instagram.com/eren.turkogllu"
          target="_blank"
        >
          Instagram
        </a>
        <a
          class={linksClass}
          href="https://www.linkedin.com/in/erenturkoglu"
          target="_blank"
        >
          LinkedIn
        </a>
        <a
          class={linksClass}
          href="https://github.com/erenworld/personal-site"
          target="_blank"
        >
          Source Code
        </a>
        <a
          class={linksClass}
          href="https://letterboxd.com/erenworld/"
          target="_blank"
        >
          Letterboxd
        </a>
        <a class={linksClass} href="https://nav.al/happiness" target="_blank">
          Life lesson
        </a>
      </div>
    </div>
    <div>
      <h2>Favourites</h2>
      <h3>Albums</h3>
      <div class="grid grid-cols-3 sm:grid-cols-4 gap-x-6 gap-y-6 not-prose">
        {
          albums.map((album) => (
            <a
              href={`https://open.spotify.com/album/${album.id}`}
              target="_blank"
            >
              <Image
                alt={album.data.title}
                src={`https://i.scdn.co/image/${album.data.imageID}`}
                width={640}
                height={640}
              />
            </a>
          ))
        }
      </div>
      <h3>Books</h3>
      <div class="grid grid-cols-3 sm:grid-cols-4 gap-x-6 gap-y-6 not-prose">
        {
          books.map((book) => (
            <a
              href={`https://books.google.com/books?id=${book.id}`}
              target="_blank"
            >
              <Image
                alt={book.data.title}
                src={`https://books.google.com/books/content?id=${book.id}&printsec=frontcover&img=1&zoom=1`}
                width={624}
                height={320}
              />
            </a>
          ))
        }
      </div>

      <p>
        You can see the rest on my{" "}
        <a
          href="https://letterboxd.com/erenworld/likes/films/by/date/size/large/"
        >
          Letterboxd</a
        >.
      </p>
    </div>
  </Prose>
</Layout>
